<div class="bad-melon">
  <form>
    <div class="form-group stacked" style="max-width: 500px;">
      {{#each inputs }}
        <div class="form-field {{ classes }}">
          <label for="{{ id }}">{{ name }}</label>
          <{{ atom }} type="{{ type }}" id="{{ id }}" name="{{ id }}" placeholder="{{ example }}"></{{ atom }}>
        </div>
      {{/each}}
    </div>
  </form>
</div>